*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}


.container{
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.container .display-content{
    /* gap: 20px; */
    /* background-color: red; */
    flex: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white 1px solid;
    transition: all 1s ease;
}
.container .display-content .content.animate{
    animation: blink .5s infinite;
}
.container .display-content .content{
    /* background-color: red; */
    height: 85%;
    width: 90%;
    padding: 20px;
    font-size: 28px;
    color: white;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}


.container .display-input{
    /* gap: 20px; */
    /* background-color: purple; */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    /* gap: 20px; */
}
.container .display-input textarea{
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
    border-radius: 8px;
    background-color: inherit;
    color: white;
}

.correct{
    color: green;
    /* background-color: rgb(210, 240, 210); */
}

.incorrect{
    color: red;
    text-decoration: underline;
}

.timer{
    background: purple;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    position: absolute;
    color: white;
    top: 240px;
}





@keyframes blink {
    0%{
        /* transform: scale(1); */
        opacity: .3;
    }50%{
        /* transform: scale(1.7); */
        opacity: 1;
    }90%{
        /* transform: scale(1.4); */
        opacity: .2;
    }
}